In [2]:
import pandas as pd

In [5]:
df=pd.read_csv("BlackFriday.csv")
del df['Product_Category_2']
del df['Product_Category_3']

In [4]:
df

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

In [6]:
df['User_ID'].nunique()

5891

In [7]:
df['User_ID'].unique()

array([1000001, 1000002, 1000003, ..., 1004113, 1005391, 1001529],
      dtype=int64)

In [8]:
df['Product_ID'].nunique()

3623

In [9]:
df['Gender'].nunique()

2

In [10]:
df['Gender'].unique()

array(['F', 'M'], dtype=object)

In [12]:
df['Age'].nunique()

7

In [13]:
df['Age'].unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

In [14]:
df['Occupation'].nunique()

21

In [15]:
df['Occupation'].unique()

array([10, 16, 15,  7, 20,  9,  1, 12, 17,  0,  3,  4, 11,  8, 19,  2, 18,
        5, 14, 13,  6], dtype=int64)

In [16]:
df['City_Category'].unique()

array(['A', 'C', 'B'], dtype=object)

In [20]:
df['Stay_In_Current_City_Years'].unique()

array(['2', '4+', '3', '1', '0'], dtype=object)

In [22]:
df['Marital_Status'].unique()

array([0, 1], dtype=int64)

In [23]:
df['Product_Category_1'].unique()

array([ 3,  1, 12,  8,  5,  4,  2,  6, 14, 11, 13, 15,  7, 16, 18, 10, 17,
        9], dtype=int64)

In [27]:
df['Purchase'].sum()/len(df['Purchase'])

9333.859852635065

In [29]:
for column in df.columns:
    print(df[column])

0         1000001
1         1000001
2         1000001
3         1000001
4         1000002
           ...
537572    1004737
537573    1004737
537574    1004737
537575    1004737
537576    1004737
Name: User_ID, Length: 537577, dtype: int64
0         P00069042
1         P00248942
2         P00087842
3         P00085442
4         P00285442
            ...
537572    P00193542
537573    P00111142
537574    P00345942
537575    P00285842
537576    P00118242
Name: Product_ID, Length: 537577, dtype: object
0         F
1         F
2         F
3         F
4         M
         ..
537572    M
537573    M
537574    M
537575    M
537576    M
Name: Gender, Length: 537577, dtype: object
0          0-17
1          0-17
2          0-17
3          0-17
4           55+
          ...
537572    36-45
537573    36-45
537574    36-45
537575    36-45
537576    36-45
Name: Age, Length: 537577, dtype: object
0         10
1         10
2         10
3         10
4         16
          ..
537572    16
537573    16
537574    16
537575    16
537576    16
Name: Occupation, Length: 537577, dtype: int64
0         A
1         A
2         A
3         A
4         C
         ..
537572    C
537573    C
537574    C
537575    C
537576    C
Name: City_Category, Length: 537577, dtype: object
0          2
1          2
2          2
3          2
4         4+
          ..
537572     1
537573     1
537574     1
537575     1
537576     1
Name: Stay_In_Current_City_Years, Length: 537577, dtype: object
0         0
1         0
2         0
3         0
4         0
         ..
537572    0
537573    0
537574    0
537575    0
537576    0
Name: Marital_Status, Length: 537577, dtype: int64
0          3
1          1
2         12
3         12
4          8
          ..
537572     1
537573     1
537574     8
537575     5
537576     5
Name: Product_Category_1, Length: 537577, dtype: int64
0          8370
1         15200
2          1422
3          1057
4          7969
          ...
537572    11664
537573    19196
537574     8043
537575     7172
537576     6875
Name: Purchase, Length: 537577, dtype: int64